<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <!-- Include your static CSS files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link href="{% static 'fullcalendar/packages/core/main.css' %}" rel="stylesheet">
    <link href="{% static 'fullcalendar/packages/daygrid/main.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Novo Ninja</title>
  </head>
<body>
  {% include 'navbar.html' %}

  {% block content %}
   
  {% endblock %}
</body>
</html>