{% load static %}
<!DOCTYPE html>
<!--
God bless GPT and its divine knowledge of bootstrap.
Here's the chat link:
https://chat.openai.com/share/3f64ab55-9442-4306-baa4-a09f7464710c
Author: Tre
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <style>
      /* Brighten the text of active navbar items */
      .navbar-nav .nav-item.active .nav-link {
        color: #fff; /* Change to your desired color */
        font-weight: bold; /* Optionally make the text bold */
      }
    </style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="#">NuPath</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- Left-justified urls VVV -->
          <li class="nav-item {% if request.path == '/home/' %}active{% endif %}">
            <a class="nav-link" href="/home/">Home</a>
          </li>

          <li class="nav-item {% if request.path == '/community/' %}active{% endif %}">
            <a class="nav-link" href="/community/">Community</a>
          </li>

          <li class="nav-item {% if request.path == '/calendar/' %}active{% endif %}">
            <a class="nav-link" href="/calendar/">Planning</a>
          </li>

          <li class="nav-item {% if request.path == '/resources/' %}active{% endif %}">
            <a class="nav-link" href="/resources/">Resources</a>
          </li>

          <li class="nav-item {% if request.path == '/news/' %}active{% endif %}">
            <a class="nav-link" href="/news/">News</a>
          </li>

          <li class="nav-item {% if request.path == '/doodlespace/' %}active{% endif %}">
            <a class="nav-link" href="/doodlespace/">Doodles</a>
          </li>

        </ul>
        <!-- Right-justified buttons -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item {% if request.path == '/profile/' %}active{% endif %}">
            <a class="nav-link" href="/profile/">Profile</a>
          </li>

          <li class="nav-item {% if request.path == '/logout/' %}active{% endif %}">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Your content -->
    <div class="container-centered d-flex flex-column vh-100" style="margin-top: 75px;"> <!-- Adjust margin-top according to your navbar height -->
      <!-- Your Django template content goes here -->
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- CSRF Token Setup for AJAX -->
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <!-- JavaScript to update page title (NEEDS MODIFICATION) -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var pageTitle = document.title; // Get the current page title
        var brandElement = document.querySelector(".navbar-brand"); // Select the navbar brand element
        brandElement.textContent += " - " + pageTitle; // Update the navbar brand text with page title
      });
    </script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>
