{% extends 'Features\base.html' %}
{% block content %}
{% block title %}Calendar{% endblock %}
{% load static %}

<!-- calendar template (Tre) -->
    
<!-- may no longer be necessary with FullCalendar library
    <link rel="stylesheet" type="text/css" href="{% static 'css\calendar\calendar.css' %}">
-->

<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" integrity="sha512-muZKtPiVz73bng/GXZ9djLa4WLlDPhFvXtVs5Q04HVrqprCwr7zAup1DyekVqg3r78QXfhZZm34esE4lR3yqdg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-AwkpXX35UOrHfzaXtfWBgwhOPWkUrBeNjMZ6nyselU2wpgElG3Q51Fuvc2rBv53e0SzYpX0fMU2a+HHnaehw8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

GPT recommended those two, moment.js might not be necessary though -->

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<!-- fullcalendar library, the one nate used -->

<!-- my fullcalendar js file, in static ofc -->
<script src="{% static 'js/calendar/calendar.js' %}"></script>

<div id="calendar"></div>


{% endblock %}