{% extends 'Features/base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/doodlespace/doodlespace.css' %}" />

<title>Doodles</title>

<div id="paintArea">
   <canvas id="canvas"></canvas>
  </div>
    <div class="options">
      <div class="tools" id="tools-section">
        <div class="tools-row">
          <div class="tools-wrapper">
            <h5><span id="tool-type"></span> Size:</h5>
            <input type="range" id="pen-slider" value="4" />
          </div>
          <div class="tools-wrapper">
            <h5>Color:</h5>
            <input type="color" id="color-input" />
          </div>
          <div class="tools-wrapper">
            <h5>Background:</h5>
            <input type="color" id="color-background" />
          </div>
        </div>
        <div class="tools-row">
          <button id="button-clear">Clear</button>
          <button id="button-pen">Pen</button>
          <button id="button-erase">Erase</button>
          <button id="button-save">Save Doodle</button>
        </div>
      </div>
</div>
<!-- Script-->
<script src="{% static 'js/doodlespace/doodlespace.js' %}"></script>

{% endblock %}