{% extends './base.html' %}
{% load static %}
<!-- ANDY MADE THIS ONE-->
<html lang="en">
<!DOCTYPE html> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
</head>
<!-- 5. NuPath also lists all the dorm details (room pictures, food options, location ) so they know where they are going. -->
<body>
    {% block content %}
    <a class="btn btn-primary m-2" href="{% url 'dorms' %}">Back to housing options...</a>
    {% if dorm.dormtype != 'Off Campus' %}
    <style>
        .carousel-item img{
            max-block-size: 50%;
        }
    </style>
        <!-- IMAGE CAROUSEL DISPLAY -->
        <div id="carouselExampleIndicators" class="carousel slide m-2" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner"> <!-- If we make the images more dynamic, we can make this an if loop, but rn it's not necessary.-->
              <div class="carousel-item active">
                <img src="{{ dorm.dormpic1.url }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ dorm.dormpic2.url }}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ dorm.dormpic3.url }}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- DORM SELECTION BUTTON-->

          <!-- whatever.
          <form method="POST" href="{% url 'dormview' dorm.id %}">
            {% csrf_token %}  <!-- this is needed to submit forms, prevents hijacking 
            <input type="hidden" name="select" value="select_dorm">
            <input type="hidden" name="current_dormview" value="{{ dorm.id }}">
            <button type="submit" class="m-2 {% if dorm.is_current_dorm %} btn btn-primary {% else %} btn btn-secondary {% endif %}">
              {% if dorm.is_current_dorm %} Current dorm {% else %} Select dorm {% endif %}
              <!-- instead of using a boolean, in the future this should check the user's profile or a dorm profile's choice
            </button>
          </form>
          -->
          <div class="m-2"> <!-- TEXT INFORMATION-->
            <h3>{{ dorm.dormtype }}</h3>
            <p>
                {{ dorm.dormtype }} is located at... <a target="_blank" rel="noopener noreferrer" href="http://maps.apple.com/?q={{dorm.get_address}}">{{ dorm.get_address }}</a><br> 
                <!-- There might be some search thing to fix here, check later. _blank opens it in a new tab. noopener noreferrer is just safer for the site!--> 
            </p>
            <h3>Food Options</h3>
            <div class="card-deck"> 
                <div class="d-flex align-items-stretch">
                    {% for option in dorm.get_foodoptions_list %} <!-- displays options associated from the dorm object -->
                    <div class="card card-body m-1">{{ option }}</div>
                    </div>
                    {% endfor %}
                </div>
          </div>
        {% else %}
          <div class="m-2">
          <h1> Looks like you don't live on campus... </h1>
          <p> Have you tried looking at the <a href="{% url 'resources' %}">resources</a> page instead? </p> <!-- REMEMBER TO INSERT A LINK HERE-->
          </div>
        {% endif %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>