{% extends './base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="videoPlayer">
        <!-- Video player will be loaded here -->
    </div>
    <div id="recentShares">
        <h2>Recent Shares</h2>
        <!-- Additional content can be added here -->
    </div>

    <!-- Script to load a random video -->
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>
{% endblock %}
