{% extends './base.html' %}
{% load static %}
<!-- Unfortunately, Andy made this one.-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<title>{% block title %}Catalyst{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
<!--link href="css/FeedEk.css" rel="stylesheet" type="text/css" /-->
</head>
<body>
    {% block content %}
    <style>
        .Catalyst{
            height: fit-content;
        }
    </style>
    <div class="ratio ratio-1x1" style="padding:20%;">
    <iframe src="https://ncfcatalyst.com/archives/" title="Catalyst" sandbox="allow-scripts"></iframe>
    </div> 
    <!-- This was supposed to be the FeedEk plugin.... but alas, I already agreed to this feature despite 
    feedek for some reason being incredibly broken-->
    <div style="padding: 10px;">
    {% endblock %}
</body>

</html>
