{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Dorms {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
</head>
<body>
    <style>
        .card-body {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;
        }
    </style>
    <h2 class="font-weight-light m-2">View your housing options...</h2>
    <h4>Current housing choice: {{ dorm.get_DORM_CHOICES_display() }}</h4> <!-- {% if dorm.get_DORM_CHOICES_display() %}-->
    <div class="container-fluid py-2" style="overflow: auto;"> 
        <!-- container-fluid is a full screen-width bootstrap container. the overflow lets you scroll horizontally -->
        <div class="d-flex flex-row flex-nowrap"> <!-- the flex-nowrap forces it to not to stack -->
            <div class="card card-body m-2">Y, X, W, V</div> <!-- yes, this is really the order the letter dorms are in. -->
            <div class="card card-body m-2">Z</div>
            <div class="card card-body m-2">Dort and Gold</div>
            <div class="card card-body m-2" href="{% url 'dormview' %}">Home2Suites</div>
            <div class="card card-body m-2">Hyatt</div>
            <div class="card card-body m-2">Off Campus</div>
            </div>
        </div>

    <h2 class="font-weight-light m-2">Insider Guide Checklist</h2>
    
    <!-- TURN THIS INTO AN IF LOOP AND MAKE A CHECKLIST MODEL TO STORE DATA LATER-->
    <ul class="list-group list-group-light">
        <li class="list-group-item">
          <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
          First checkbox
        </li>
      </ul>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>