{% extends "Features/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/login/login.css' %}">
<title>Login</title>
    <div class="container bg-light shadow-md p-5 form-layout">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>

{% endblock content %}