{% extends "Features/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <html lang="en">

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Onboarding Tasks</legend>
            <div class="badges_form">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="picked_classes" name="picked_classes">
                <label class="form-check-label" for="picked_classes">
                  Picked classes and added them to your <a target="_blank" href="{% url 'calendar' %}">calendar</a>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="picked_dorm_room" name="picked_dorm_room">
                <label class="form-check-label" for="picked_dorm_room">
                  Picked your <a target="_blank" href="">dorm room</a>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checked_ham_menu" name="checked_ham_menu">
                <label class="form-check-label" for="checked_ham_menu">
                  Checked the <a target="_blank" href="https://www.metznewcollege.com/">HAM menu</a>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checked_campus_facilities" name="checked_campus_facilities">
                <label class="form-check-label" for="checked_campus_facilities">
                  Checked out <a target="_blank" href="https://www.ncf.edu/departments/">campus facilities</a>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="known_faculty" name="known_faculty">
                <label class="form-check-label" for="known_faculty">
                  Gotten to know <a target="_blank" href="https://www.ncf.edu/directory/">our faculty</a>
                </label>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}

<!--
  <div class="badges-form"> 
        <h3>Onboarding Tasks</h3>
        
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_picked_classes">Picked classes</label>
            {{ badges_form.picked_classes }}
          </div>
          <div class="form-group">
            <label for="id_picked_dorm_room">Picked a <a href="">dorm room</a></label>
            {{ badges_form.picked_dorm_room }}
          </div>
          <div class="form-group">
            <label for="id_checked_ham_menu">Checked <a href="https://www.metznewcollege.com/" target="_blank">the HAM menu</a></label>
            {{ badges_form.checked_ham_menu }}
          </div>
          <div class="form-group">
            <label for="id_checked_campus_facilities">Checked out <a href="https://www.ncf.edu/departments/" target="_blank">campus facilities</a></label>
            {{ badges_form.checked_campus_facilities }}
          </div>
          <div class="form-group">
            <label for="id_known_faculty">Gotten to know <a href="https://www.ncf.edu/directory/" target="_blank">our faculty</a></label>
            {{ badges_form.known_faculty }}
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
-->