{% extends "Users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<title>Registration Page</title>
    <div class="container bg-light shadow-md p-5 form-layout">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">NuPath Account Registration</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="container centered" >
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-5" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
        </div>
    </div>
{% endblock %}
```