{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">'
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container bg-light shadow-md p-5 form-layout">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">NuPath Account Registration</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>

        <div class="container centered" >
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-5" href="#">Sign In</a>
            </small>
        </div>
        </div>
    </div>
</body>
</html>