* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.paintArea {
  position: center;
  border: 8px solid #047bf6;
  height: 70vh;
  width: 100%;
}
.options {
  height: 30vh;
  background-color: #047bf6;
}

.tools-row {
  display: flex;
  justify-content: space-between; /* This will space out the children evenly */
  align-items: center;
  gap: 10px; /* Reduced gap between flex items */
  /* Other styles remain unchanged */
}
.tools-row h5 {
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.tools-row button {
  padding: 12px 0;
  border-radius: 25px;
  border: none;
  background-color: #ffffff;
  font-size: 18px;
  color: #047bf6;
  width: 100%;
}
input[type="range"] {
  touch-action: manipulation;
  max-width: 200px; /* Adjust the max-width as needed */
  width: 100%; /* Make it responsive by setting width to 100% */
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 8px;
  border: 3px solid #000000;
}
input[type="color"]::moz-color-swatch {
  border-radius: 8px;
  border: 3px solid #000000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

body {
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

#paintArea {
    flex-grow: 1; /* Let paint area take up all available space */
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    border: 8px solid #047bf6;
    overflow: hidden;
}

canvas {
    display: block; /* Remove default margin */
    background-color: #fff; /* Default background */
    position: center;
}

.options {
    flex-basis: 30vh; /* Allocate specific space for options */
    background-color: #047bf6;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

