<!-- templates/todolist.html -->

{% extends "base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="checklistStyles.css">

<!-- Add new tasks -->

    <div class="col-10">
        <h1>To-Do List</h1>
        <div class="input-container">
            <input type="text" id="task" placeholder="Add a new task...">
            <button id="add">Add</button>
        </div>
        <ul id="taskList"></ul>
    </div>

<script src="{% static 'todolistApp.js' %}"></script>

{% endblock %}
