<!-- templates/todolist.html -->
<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}

<button id="changeColorButton">Change Background Color</button> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <!-- Include Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>To-Do List</h1>
        <div class="input-container">
            <input type="text" id="task" placeholder="Add a new task...">
            <button id="add">Add</button>
        </div>
        <ul id="tasklist"></ul>
    </div>
    <script src="toDoListApp.js"></script>
</body>
</html>
